[submodule "Alpha/vendor/spdlog"]
	path = Alpha/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Alpha/vendor/GLFW"]
	path = Alpha/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "Alpha/vendor/imgui"]
	path = Alpha/vendor/imgui
	url = https://github.com/TheCherno/imgui
